.gradient-custom-3 {
    /* fallback for old browsers */
    background: #84fab0;

    /* Chrome 10-25, Safari 5.1-6 */
    background: -webkit-linear-gradient(to right, rgba(132, 250, 176, 0.5), rgba(143, 211, 244, 0.5));

    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background: linear-gradient(to right, rgba(132, 250, 176, 0.5), rgba(143, 211, 244, 0.5))
}

.gradient-custom-4 {
    /* fallback for old browsers */
    background: #84fab0;

    /* Chrome 10-25, Safari 5.1-6 */
    background: -webkit-linear-gradient(to right, rgba(132, 250, 176, 1), rgba(143, 211, 244, 1));

    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background: linear-gradient(to right, rgba(132, 250, 176, 1), rgba(143, 211, 244, 1))
}

label {
    font-weight: bolder;
    font-style: italic;
    font-variant: small-caps;
}

input {
    font-weight: lighter;
    font-style: italic;
    font-variant: small-caps;
}

.card,
u {
    border-radius: 15px;
    color: white;
    font-size: 15px;
    background-color: black;
    font-weight: lighter;
    font-style: italic;
    font-variant: small-caps;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

h2 {
    border-radius: 15px;
    color: white;
    font-size: 25px;
    margin-top: 5px;
    font-weight: lighter;
    font-style: italic;
    font-variant: small-caps;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}